<!DOCTYPE html>
<html lang="es">
    <head>
        <!--METAS-->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Portafolio profesional">
        <meta name="keywords" content="Portafolio, Desarrollo, Web, Ingeniería, sistemas computacionales">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta name="author" content="Bryan Flores">
        <!--Iconos-->
        <script src="https://kit.fontawesome.com/ac29b28cdf.js" crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <!--HOJAS DE ESTILO-->
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/index.css">
        <!--FUENTE Montserrat (Medium 500)-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <!--Pestaña-->
        <link rel="shortcut icon" href="/img/"/>
        <title>Bryan Flores</title>
    </head>
    <body>
        <header>
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                    <h5 class="text-white h4">Bryan Flores</h5>
                    <span class="text-muted">
                        Estudiante de ingeniería en sistemas computacionales, autodidacta en desarrollo web. Conocimientos en html, css, javascript, node.js, motores de plantillas, sql, mongodb y bootstrap.
                    </span>
                </div>
                <div class="bg-dark p-4">
                    <h4 class="text-white text-center">Contacto</h4>
                    <ul class="list-group">
                        <li class="list-group-item bg-dark border-0 d-flex justify-content-center p-2">
                            <p class="text-white m-0">Bryan_Flores7@outlook.com</p>
                        </li>
                        <li class="list-group-item bg-dark border-0 d-flex justify-content-center p-2">
                            <a href="https://twitter.com/_Debraye7" class="link-light">Twitter</a>
                        </li>
                        <li class="list-group-item bg-dark border-0 d-flex justify-content-center p-2">
                            <a href="https://www.instagram.com/thebry7/" class="link-light">Instagram</a>
                        </li>
                        <li class="list-group-item bg-dark border-0 d-flex justify-content-center p-2">
                            <a href="https://www.facebook.com/Debraye7Web" class="link-light">Facebook</a>
                        </li>
                    </ul>
                </div>
            </div>
            <nav class="navbar-dark bg-dark row py-2">
                <div class="col-8 d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-briefcase-fill m-2 text-white" viewBox="0 0 16 16">
                        <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z"/>
                        <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z"/>
                    </svg>
                    <h1 class="text-white">Portafolio</h1>
                </div>
                <div class="container-fluid col-4 d-flex justify-content-end">
                    <button class="navbar-toggler me-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </header>
        <main class="container">
            <section class="d-flex flex-wrap justify-content-around my-3 mx-2">
                <div class="contenedor-enlaces card text-center bg-dark bg-gradient m-1">
                    <img src="/img/Fú7bol.png" class="card-img-top" alt="sreenshot"/>
                    <div class="card-body d-flex flex-column justify-content-center align-items-center text-white">
                        <h5 class="card-title text-center">Fú7bol</h5>
                        <p class="card-text mb-2">Liga de fútbol 7.</p>
                        <p class="card-text">Express, Handlebars, Mysql, Bcryptjs, Passport, Timeago, Connect-flash, Multer, etc.</p>
                        <a href="https://fu7bol.herokuapp.com/" class="btn btn-primary btn-sm" target="_blank">Visitar</a>
                    </div>
                </div>
            </section>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    </body>
</html>