@media screen and (max-device-width: 299px) {
    html {
        font-size: 5px;
    }
}

@media screen and (min-device-width: 300px) {
    html {
        font-size: 7.5px;
    }
}

@media screen and (min-device-width: 400px) {
    html {
        font-size: 10px;
    }
}

#root {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 1fr;
    min-height: 100vh;
    overflow: hidden;
}

main {
    grid-column: 1/2;
    grid-row: 1/2;
    height: auto;
}